<!doctype html>
<html class="no-js" lang="en" ng-app="FunWithRecipes">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>FunWithRecipes - Register / Login</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/app.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body>
 
      <div class="top-bar">
            <div class="row">
                  <div class="top-bar-left">
                        <ul class="dropdown menu" data-dropdown-menu>
                        <li class="menu-text">Register/Login</li>
                        <li><a href="/register">Register</a></li>
                        <li><a href="/login">Login</a></li>
                        <li>{{username}}</li>
                        </ul>
                  </div>
                  <div class="top-bar-right">
                        <ul class="menu">
                        <li><input type="search" placeholder="Search"></li>
                        <li><button type="button" class="button">Search</button></li>
                        </ul>
                  </div>
            </div>
      </div>
      <br>
 
<div class="row" id="content">
<div class="medium-12 columns">
<a href="#" data-reveal-id="myModal" class="button">Launch Signup Modal</a>

<div id="myModal" class="reveal-modal remove-whitespace" data-reveal>
<div class="row">
    <div class="large-6 columns auth-plain">
      <div class="signup-panel left-solid">
        <p class="welcome">Registered Users</p>
        <form>
          <form method='POST' action="/">
              <div class="row collapse">
                <div class="small-2  columns">
                  <span class="prefix"><i class="fi-torso-female"></i></span>
                </div>
                <div class="small-10  columns">
                  <input type="text" name="username" placeholder="username">
                </div>
              </div>
              <div class="row collapse">
                <div class="small-2 columns ">
                  <span class="prefix"><i class="fi-lock"></i></span>
                </div>
                <div class="small-10 columns ">
                  <input type="text"  name="pw" placeholder="password">
                </div>
              </div>
            </form>
          
            <a href="" class="button ">Log In </a>
            <input type="submit" value="register"/>
          </form>
      </div>
    </div>
    
    
    
    
<section>
  <form method="POST" action="/login">
   <table>
    <tr>
      <input type="text" name="username" placeholder="username">
      <input type="text"  name="pw" placeholder="password">
      <input type="submit" value="log in"/>
   </table>
  </form>      
</section>
    
    
    

    <div class="large-6 columns auth-plain">
    	<div class="signup-panel newusers">
    		<p class="welcome"> New User?</p>
    		<p>By creating an account with us, you will be able to move through the checkout process faster, view and track your orders, and more.</p><br>
    		<a href="#" class="button ">Sign Up</a></br>
    	</div>
    </div>

   </div>   
  <a class="close-reveal-modal">&#215;</a>
</div>   
</div>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.4/socket.io.js"></script>>
    <script src="/js/angular.min.js"></script>
    <script src="/js/controller.js"></script>
    <script>
      $(document).foundation();
    </script>
</body>
</html>
